@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.u-show {
  display: block;
  transition: all 400ms ease;
}

.u-hide {
  display: none;
  opacity: 0;
}

.u-fadein {
  animation: fadeIn 400ms;
}

.u-fixed {
  position: fixed;
  z-index: 100;
  left: 0;
  padding: .5rem;
  height: 3rem;
  width: 100%;
  background: white;
}

.u-jc-flex-start {
  justify-content: flex-start;
}


.camera-menu {

}

.u-offline {
  background: #999;
  color: white;
  filter: blur(.1rem);
}



